# Projekat iz predmeta analiza socijalnih mreza


## Kvantitativna i kvalitativna Analiza stanja profesionalnog muškog tenisa u periodu od 2018. do 2020. godine


Ucitavanje podataka

In [4]:
import pandas as pd

dataPath = "data/atp_matches_2018.csv"

data = pd.read_csv(dataPath) 
print(data)

                          tourney_id                tourney_name surface  \
0                          2018-M020                    Brisbane    Hard
1                          2018-M020                    Brisbane    Hard
2                          2018-M020                    Brisbane    Hard
3                          2018-M020                    Brisbane    Hard
4                          2018-M020                    Brisbane    Hard
...                              ...                         ...     ...
2884                       2018-0605                 Tour Finals    Hard
2885                       2018-0605                 Tour Finals    Hard
2886  2018-M-DC-2018-WG-M-FRA-CRO-01  Davis Cup WG F: FRA vs CRO    Clay
2887  2018-M-DC-2018-WG-M-FRA-CRO-01  Davis Cup WG F: FRA vs CRO    Clay
2888  2018-M-DC-2018-WG-M-FRA-CRO-01  Davis Cup WG F: FRA vs CRO    Clay

      draw_size tourney_level  tourney_date  match_num  winner_id  \
0            32             A      20180101        271     105992
1            32             A      20180101        272     111577
2            32             A      20180101        273     104797
3            32             A      20180101        275     200282
4            32             A      20180101        276     111581
...         ...           ...           ...        ...        ...
2884          8             F      20181112        299     104925
2885          8             F      20181112        300     100644
2886          4             D      20181123          1     106432
2887          4             D      20181123          2     105227
2888          4             D      20181123          4     105227

      winner_seed winner_entry  ... l_1stIn l_1stWon  l_2ndWon l_SvGms  \
0             NaN          NaN  ...    47.0     33.0      19.0    14.0
1             NaN          NaN  ...    41.0     25.0       7.0     9.0
2             NaN          NaN  ...    53.0     37.0      29.0    15.0
3             NaN           WC  ...    43.0     33.0      17.0    11.0
4             NaN            Q  ...    35.0     28.0       5.0     9.0
...           ...          ...  ...     ...      ...       ...     ...
2884          1.0          NaN  ...    33.0     23.0       7.0     8.0
2885          3.0          NaN  ...    34.0     25.0       8.0    10.0
2886          NaN          NaN  ...    64.0     43.0      18.0    15.0
2887          NaN          NaN  ...    57.0     39.0      18.0    15.0
2888          NaN          NaN  ...    58.0     43.0      21.0    15.0

      l_bpSaved  l_bpFaced  winner_rank winner_rank_points loser_rank  \
0           1.0        4.0         47.0             1010.0       52.0
1           7.0       11.0         54.0              890.0       94.0
2          10.0       16.0         63.0              809.0       30.0
3           4.0        6.0        208.0              245.0       44.0
4           0.0        2.0        175.0              299.0       68.0
...         ...        ...          ...                ...        ...
2884        5.0        9.0          1.0             8045.0        6.0
2885        2.0        6.0          5.0             5085.0        1.0
2886        9.0       13.0         12.0             2480.0       40.0
2887        1.0        4.0          7.0             4250.0      259.0
2888        9.0       12.0          7.0             4250.0       32.0

     loser_rank_points
0                909.0
1                593.0
2               1391.0
3               1055.0
4                755.0
...                ...
2884            4310.0
2885            8045.0
2886            1050.0
2887             200.0
2888            1245.0

[2889 rows x 49 columns]

In [10]:
print(data['match_num'].isnull().values.any())
print(data['match_num'].is_unique)

False
False

In [11]:
data['id'] = data.index
print(data['id'].head())
print(data.head())

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64
  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  \
0  2018-M020     Brisbane    Hard         32             A      20180101
1  2018-M020     Brisbane    Hard         32             A      20180101
2  2018-M020     Brisbane    Hard         32             A      20180101
3  2018-M020     Brisbane    Hard         32             A      20180101
4  2018-M020     Brisbane    Hard         32             A      20180101

   match_num  winner_id  winner_seed winner_entry  ... l_1stWon l_2ndWon  \
0        271     105992          NaN          NaN  ...     33.0     19.0
1        272     111577          NaN          NaN  ...     25.0      7.0
2        273     104797          NaN          NaN  ...     37.0     29.0
3        275     200282          NaN           WC  ...     33.0     17.0
4        276     111581          NaN            Q  ...     28.0      5.0

   l_SvGms l_bpSaved  l_bpFaced  winner_rank  winner_rank_points loser_rank  \
0     14.0       1.0        4.0         47.0              1010.0       52.0
1      9.0       7.0       11.0         54.0               890.0       94.0
2     15.0      10.0       16.0         63.0               809.0       30.0
3     11.0       4.0        6.0        208.0               245.0       44.0
4      9.0       0.0        2.0        175.0               299.0       68.0

  loser_rank_points id
0             909.0  0
1             593.0  1
2            1391.0  2
3            1055.0  3
4             755.0  4

[5 rows x 50 columns]

In [12]:
import numpy as np

# Selekcija samo kolona 'match_id' i 'id' i grupisanje po match_id 
data_grupisano = data[['match_num', 'id']].groupby('match_num')

# agg() radi agregaciju, u ovom slučaju po broju elemenata u grupi (np.size vrati broj elemenata u grupi)
data_agregirano = data_grupisano['id'].agg(np.size)
print(type(data_agregirano))
print(data_agregirano)

<class 'pandas.core.series.Series'>
match_num
1      67
2      67
4      67
5      35
100     3
       ..
503     1
504     1
601     1
602     1
701     1
Name: id, Length: 233, dtype: int64

In [13]:
data_nonunique = data_agregirano[data_agregirano>1]
print(data_nonunique)

match_num
1      67
2      67
4      67
5      35
100     3
       ..
296    64
297    64
298    64
299    64
300    64
Name: id, Length: 200, dtype: int64

In [14]:
trazeni = data_nonunique[data_nonunique == data_nonunique.max()]
print(trazeni)
target_match_num = trazeni.keys()[0]
print(target_match_num)

match_num
1    67
2    67
4    67
Name: id, dtype: int64
1

In [15]:
data_target = data[data['match_num'] == target_match_num]
print(data_target)
print(data_target.shape)

                              tourney_id                 tourney_name surface  \
266   2018-M-DC-2018-G1-EPA-M-AUT-BLR-01  Davis Cup G1 R1: AUT vs BLR    Clay
270    2018-M-DC-2018-G1-AM-M-CHI-ECU-01  Davis Cup G1 R1: CHI vs ECU    Clay
273    2018-M-DC-2018-G1-AO-M-CHN-NZL-01  Davis Cup G1 R1: CHN vs NZL    Hard
276    2018-M-DC-2018-G1-AM-M-COL-BAR-01  Davis Cup G1 R1: COL vs BAR    Hard
279    2018-M-DC-2018-G1-AM-M-DOM-BRA-01  Davis Cup G1 R1: DOM vs BRA    Hard
...                                  ...                          ...     ...
2425      2018-M-DC-2018-WG-M-FRA-ESP-01  Davis Cup WG SF: FRA vs ESP    Hard
2429  2018-M-DC-2018-G2-EPA-M-ROU-POL-01  Davis Cup G2 R3: ROU vs POL    Clay
2433   2018-M-DC-2018-G2-AO-M-THA-LBN-01  Davis Cup G2 R3: THA vs LBN    Hard
2437   2018-M-DC-2018-G2-AM-M-URU-MEX-01  Davis Cup G2 R3: URU vs MEX    Clay
2886      2018-M-DC-2018-WG-M-FRA-CRO-01   Davis Cup WG F: FRA vs CRO    Clay

      draw_size tourney_level  tourney_date  match_num  winner_id  \
266           4             D      20180202          1     105589
270           4             D      20180202          1     111797
273           4             D      20180202          1     104907
276           4             D      20180202          1     123755
279           4             D      20180202          1     105497
...         ...           ...           ...        ...        ...
2425          4             D      20180914          1     105332
2429          4             D      20180915          1     105657
2433          4             D      20180915          1     200273
2437          4             D      20180915          1     104655
2886          4             D      20181123          1     106432

      winner_seed winner_entry  ... l_1stWon l_2ndWon  l_SvGms l_bpSaved  \
266           NaN          NaN  ...     46.0     18.0     15.0       5.0
270           NaN          NaN  ...     22.0      7.0      8.0       2.0
273           NaN          NaN  ...     37.0     17.0     14.0       5.0
276           NaN          NaN  ...     14.0     10.0      8.0       1.0
279           NaN          NaN  ...     52.0     15.0     15.0      11.0
...           ...          ...  ...      ...      ...      ...       ...
2425          NaN          NaN  ...     30.0     15.0     12.0       5.0
2429          NaN          NaN  ...     26.0      9.0      9.0       4.0
2433          NaN          NaN  ...     37.0     19.0     15.0       1.0
2437          NaN          NaN  ...     29.0     12.0     10.0       3.0
2886          NaN          NaN  ...     43.0     18.0     15.0       9.0

      l_bpFaced  winner_rank  winner_rank_points loser_rank loser_rank_points  \
266         8.0         98.0               545.0      190.0             281.0
270         5.0         95.0               557.0      597.0              48.0
273         9.0        308.0               158.0      253.0             206.0
276         5.0        292.0               168.0        NaN               NaN
279        14.0        284.0               173.0      365.0             118.0
...         ...          ...                 ...        ...               ...
2425       12.0         54.0               955.0       21.0            1750.0
2429        7.0         81.0               700.0      187.0             297.0
2433        3.0        643.0                40.0      453.0              82.0
2437        7.0         68.0               805.0      762.0              27.0
2886       13.0         12.0              2480.0       40.0            1050.0

        id
266    266
270    270
273    273
276    276
279    279
...    ...
2425  2425
2429  2429
2433  2433
2437  2437
2886  2886

[67 rows x 50 columns]
(67, 50)